/* general */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: none;
    background-color: rgb(210, 207, 207);
    padding: 0.5rem;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

body{
    width: 1200px;
    margin: auto;
    background-color: rgb(210, 207, 207);
    font-family: "Roboto", sans-serif;
}

.container{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 0 1.5rem 1.5rem 1.5rem;
    background-color: #bab8b8;
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo{
    width: 100%;
    padding-left: 3rem;
}

.menu{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo img{
    width: 22%;

}

header a{
    font-weight: bold;
    text-transform: uppercase;
    font-size: larger;
} 

/* section */
.section-data{
    display: flex;
    justify-content: end;
    margin-top: 20px;
    height: 20px;
}

#datatoday{
    font-style: italic;
}

.section-settings{
    height: calc(100vh - 240px);
    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap;
}

.settings-content{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: x-large;
    padding: 5rem 0;
    border-radius: 0.8rem;
    transition: font-size 0.1s ease;
    animation: font-size-change 5s infinite;
}

.settings-button{
    margin-bottom: 1.5rem;
}

/* footer */
footer{
    height: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.credits{
    width: 100%;
    display: flex;
    justify-content: center;
}

.credits a{
    font-weight: bold;
    margin-left: 0.3rem;
}

.disclaimer{
    font-style: italic;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* animation */
@keyframes font-size-change{
    0%{
        font-size: 0.8rem;
    }
    25%{
        font-size: 1rem;
    }
    50%{
        font-size: 1.2rem;
    }
    75%{
        font-size: 1rem;
    }
    100%{
        font-size: 0.8rem;
    }
}
