/* general */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: gray;
}

a{
    text-decoration: none;
    color: black;
}

body{
    width: 1200px;
    margin: auto;
}

.container{
    width: 80%;
    height: 100vh;
    border: 1px red solid;
    margin: auto;
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 20%;
}

header a{
    margin-left: 3rem;
    font-weight: bold;
    text-transform: uppercase;
} 

/* section */
.section-settings{
    min-height: 250px;
    border: 1px solid green;
    display: flex;
    justify-content: center;
    align-items: end;
}

.settings-button{
    margin-bottom: 1.5rem;
}

/* footer */
.credits{
    width: 100%;
    display: flex;
    justify-content: center;
}

.credits a{
    font-weight: bold;
    margin-left: 0.3rem;
}

.disclaimer{
    font-style: italic;
    width: 100%;
    display: flex;
    justify-content: center;
}