/* general */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
}

a{
    text-decoration: none;
    color: black;
}

button{
    border: none;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
}

body{
    width: 1200px;
    margin: auto;
    background-color: rgb(210, 207, 207);
}

.container{
    width: 80%;
    height: 100vh;
    margin: auto;
    padding: 0 1.5rem 1.5rem 1.5rem;
    background-color: rgb(186, 184, 184);
}

/* header */
header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.logo img{
    width: 20%;
}

header a{
    margin-left: 3rem;
    font-weight: bold;
    text-transform: uppercase;
} 

/* section */
.section-settings{
   height: calc(100vh - 200px);
    display: flex;
    justify-content: center;
    align-items: end;
}

.settings-button{
    margin-bottom: 1.5rem;
}

/* footer */
footer{
    height: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.credits{
    width: 100%;
    display: flex;
    justify-content: center;
}

.credits a{
    font-weight: bold;
    margin-left: 0.3rem;
}

.disclaimer{
    font-style: italic;
    width: 100%;
    display: flex;
    justify-content: center;
}